# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# Dependencies
node_modules/

# Expo & Metro
.expo/
dist/
web-build/
expo-env.d.ts
.metro-health-check*

# Environment & Config
.env
.env*
.env.local
.env*.local

# Security & Key credentials / certificates
*.jks
*.p8
*.p12
*.key
*.pem
*.mobileprovision

# Debug & Logs
npm-debug.*
yarn-debug.*
yarn-error.*

# OS temporary files
.DS_Store
Thumbs.db

# TypeScript build info
*.tsbuildinfo

# Local Native Builds (generated native folders)
ios/
android/
